@font-face  {
    font-family: futura;
    src: url(futura_main.tff);
}

body, html {
    height: 100%;
    width: 100%;
    
    background-color: #1b1b1b;
  }

#main_div   {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    
}

#main_text  {
    font-family: futura;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
}

p   {
    color: beige;
}

a   {
    color: beige;
}